body {
    background: linear-gradient(to bottom, rgba(26, 54, 54, 0.8), rgba(63, 108, 131, 0.8)), url("https://wallpaperaccess.com/full/1615863.jpg") no-repeat center center/cover;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.gallery-section {
    padding: 80px;
    max-width: 1200px;
    margin: 0 auto;
}

.main-heading {
    font-size: 48pt;
    color: #f5f5f5;
    text-shadow: 1px 1px #000;
    width: 100%;
    height: auto;
    background: linear-gradient(to bottom, rgba(26, 54, 54, 0.2), rgba(63, 108, 131, 0.5));
    padding: 10px;
}

h1 {
    text-align: center;
    color: #037286;
    margin-bottom: 30px;
}

.details-container {
    margin-bottom: 30px;
    text-align: center;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 10px;
}

.photo-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 15px;
}

.photo-item {
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.photo-item img {
    width: 100%;
    height: auto;
    object-fit: cover;
    transition: transform 0.3s ease-in-out;
}

.photo-item img:hover {
    transform: scale(1.1);
}


.company-img {
    width: 400px;
    height: 300px;
    margin-bottom: 20px;
}

.company-img img {
    object-fit: cover;
}

.navbar-nav a {
    color: #fff !important;
}

.navbar-nav .nav-item:nth-child(5) a {
    color: #DBA979 !important;
}

footer  {
    text-shadow: 1px 0.6px 0.6px #000;
    color: #fff;
}

footer a {
    text-shadow: none !important;
    color: #ffeb0c !important;
}


@media (max-width: 768px) {

    .gallery-section {
        padding: 20px;
    }
    
    .main-heading {
        font-size: 32pt;
        width: 100%;
    }
    .company-img {
        width: 100%;
        height: auto;
    }
}